:root {
  --background: #e9e8e8;
  --text: #030302;
  --accent: #18314f;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: var(--background);
  color: var(--text);
}

.grid-container {
  min-height: 100dvh;
  display: grid;
  grid-template:
    "header" 100px
    "main" auto
    "footer" 50px;
}

.header {
  grid-area: header;
  background-color: var(--accent);
  color: #fbfbf8;
  padding: 1.5rem;
}

.header .header-title {
  text-align: center;
  margin: 0;
}

.main {
  grid-area: main;
  display: grid;
  justify-content: center;
  align-content: flex-start;
}

.flex-container {
  display: flex;
}

.user-input {
  flex-grow: 1;
  font-size: 1.2rem;
  margin: 4rem 0.5rem 0.5rem;
  padding: 1rem;
  border: 3px solid var(--accent);
  border-radius: 8px;
  text-align: center;
}

.info-text {
  padding: 1rem;
  margin: 0 auto;
}

.main .outcome-container {
  padding: 1rem;
  margin: 0 auto;
}

.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  background-color: var(--accent);
  color: #fbfbf8;
  padding: 0.5rem;
}

.footer p {
  margin: 0;
}
